muleapp/src/main/mule/muleapp.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e0dbf30d-c802-4d81-9ddd-b601b6665f68" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="muleappFlow" doc:id="6957b7d2-b44e-4a6e-be84-8f82aa94072e" >
		<http:listener doc:name="Listener" doc:id="f4b7640f-2836-4ab4-b5d1-1295ecc572c4" config-ref="HTTP_Listener_config" path="/listener"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="8221f7aa-4fbc-4e06-be12-1e617197e0e8" />
	</flow>
</mule>
